body {
    background-image: url("./Images/Background.avif");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.card {
    cursor: pointer;
    background-color: rgba(193, 193, 193, 0.1);
    color: #fff;
    max-height: 60vh;
}

.card:hover {
    background-color: #000000a8;
    cursor: pointer;
    transform: scale(1.04);
    transition: all 0.8s ease;
}



.baring {
    position: sticky;
    font-family: 'Hind Siliguri', sans-serif;
    top: 0;
    z-index: 1;
    background-color: hsla(0,0%,57.6%,.1);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px 0px #fff;
    color: #fff;
    font-size: 1.1rem;
}


.text-center {
    margin: 10px;
    color: #fff;
}

.card-img-top {
    height: 32vh;
}

.logo{
  font-size: 1.3rem;
}

.categories:hover{
  color: #fff;
}