body {
  background-image: url("./Images/Background.avif");
  background-size: 100% 100%;
  background-attachment: fixed;
}

.card {
  cursor: pointer;
  background-color: rgba(66, 66, 66, 0.10);
  max-height: 60vh;
}

.card:hover {
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  color: white;
  transform: scale(1.04);
  transition: all 0.8s ease;
}



.baring {
  position: sticky;
  font-family: 'Hind Siliguri', sans-serif;
  top: 0;
  z-index: 1;
  background-color: #747474;
  font-size: 1.1rem;
}

.text-center {
  margin: 10px;
}

.card-img-top {
  height: 32vh;
}